name: Latest blog post workflow
on:
    schedule: # Run workflow automatically
      # This will make it run "At 12:00 on every 3rd day-of-month"
      - cron: '11 * * * *' 
     # Run workflow manually (without waiting for the cron to be called), through the Github Actions Workflow page directly
    workflow_dispatch: 
jobs:
    update-readme-with-blog:
      name: "Update this repo's README with latest blog posts"
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
        - uses: gautamkrishnar/blog-post-workflow@v1
          with:
            # Replace this URL with your rss feed URL/s
            feed_list: "https://danielpetrica.com/feed/"
